<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: none
SPDX-License-Identifier: CC0-1.0
-->
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<icon_name>partitionmanager</icon_name>
   <action id="org.kde.kpmcore.externalcommand.init" >
      <description>Start external command daemon</description>
      <description xml:lang="ast">Aniciu del degorriu de comandos esternos</description>
      <description xml:lang="ca">Inicia el dimoni d'ordres externes</description>
      <description xml:lang="ca@valencia">Inicia el dimoni d'ordres externes</description>
      <description xml:lang="cs">Spustit démona externích příkazů</description>
      <description xml:lang="de">Externen Befehlsdienst starten</description>
      <description xml:lang="el">Εκκίνηση διεργασίας με εξωτερική εντολή</description>
      <description xml:lang="en_GB">Start external command daemon</description>
      <description xml:lang="es">Iniciar el demonio de órdenes externas</description>
      <description xml:lang="fr">Lancer le démon externe de commandes</description>
      <description xml:lang="it">Avvia demone per comando esterno</description>
      <description xml:lang="ko">외부 명령 데몬 시작</description>
      <description xml:lang="lt">Paleisti išorinių komandų tarnybą</description>
      <description xml:lang="nl">Start externe opdrachtdaemon</description>
      <description xml:lang="pl">Rozpocznij usługę zewnętrznego polecenia</description>
      <description xml:lang="pt">Iniciar o servidor de comandos externos</description>
      <description xml:lang="pt_BR">Iniciar comando externo do daemon</description>
      <description xml:lang="sl">Zaženi demon za zunanje ukaze</description>
      <description xml:lang="sv">Starta extern kommandodemon</description>
      <description xml:lang="uk">Запуск фонової служби зовнішньої команди</description>
      <message>Administrative privileges are required to manage disks</message>
      <message xml:lang="ast">Ríquense los privilexos alministrativos pa xestionar discos</message>
      <message xml:lang="ca">Es requereixen privilegis d'administrador per a gestionar els discs</message>
      <message xml:lang="ca@valencia">Es requereixen privilegis d'administrador per a gestionar els discs</message>
      <message xml:lang="cs">Pro správu disků jsou potřeba práva administrátora</message>
      <message xml:lang="de">Systemverwalterrechte sind zur Verwaltung von Festplatten erforderlich</message>
      <message xml:lang="el">Απαιτούνται δικαιώματα διαχειριστή για τη διαχείριση των δίσκων</message>
      <message xml:lang="en_GB">Administrative privileges are required to manage disks</message>
      <message xml:lang="es">Se necesitan permisos de administrador para gestionar discos</message>
      <message xml:lang="fr">Vous devez disposer des privilèges d'administrateur pour gérer les disques.</message>
      <message xml:lang="it">Per gestire il disco sono richiesti privilegi amministrativi</message>
      <message xml:lang="ko">디스크를 관리하려면 권한이 필요함</message>
      <message xml:lang="lt">Diskų tvarkymui reikalingos administratoriaus teisės</message>
      <message xml:lang="nl">Er zijn administratieve rechten vereist om schijven te beheren</message>
      <message xml:lang="pl">Do zarządzania dyskami wymagane są uprawnienia administratora</message>
      <message xml:lang="pt">São necessários privilégios de administração para gerir os discos</message>
      <message xml:lang="pt_BR">São necessários privilégios administrativos para gerenciar discos</message>
      <message xml:lang="sl">Za upravljanje diskov so potrebne pravice upravljavca računalnika</message>
      <message xml:lang="sv">Administratörsprivilegier krävs för att hantera diskar</message>
      <message xml:lang="uk">Для керування дисками потрібні права доступу адміністратора (root)</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin_keep</allow_active>
      </defaults>
   </action>
</policyconfig>
