[Desktop Entry]
Encoding=UTF-8
Name=KDE Partition Manager sfdisk Backend
Name[ca]=Dorsal «sfdisk» del gestor de particions del KDE
Name[ca@valencia]=Dorsal «sfdisk» del gestor de particions del KDE
Name[de]=KDE-Partitionsverwaltung sfdisk-Backend
Name[en_GB]=KDE Partition Manager sfdisk Backend
Name[es]=Motor sfdisk para el gestor de particiones de KDE
Name[gl]=Infraestrutura de sfdisk do xestor de particións de KDE
Name[nl]=Sfdisk-backend van KDE-partitiebeheerder
Name[pl]=Silnik sfdisk zarządzania partycjami KDE
Name[pt]=Infra-Estrutura do 'sfdisk' do Gestor de Partições do KDE
Name[sl]=Zaledje sfdisk za upravljalnik razdelkov za KDE
Name[sr]=Позадина sfdisk‑а за КДЕ‑ов менаџер партиција
Name[sr@ijekavian]=Позадина sfdisk‑а за КДЕ‑ов менаџер партиција
Name[sr@ijekavianlatin]=Pozadina sfdisk‑a za KDE‑ov menadžer particija
Name[sr@latin]=Pozadina sfdisk‑a za KDE‑ov menadžer particija
Name[sv]=KDE:s partitionshanterare sfdisk bakgrundsprogram
Name[uk]=Додаток sfdisk сервера Керування розділами KDE
Name[x-test]=xxKDE Partition Manager sfdisk Backendxx
Comment=A KDE Partition Manager sfdisk backend.
Comment[ca]=Un dorsal «sfdisk» del gestor de particions del KDE.
Comment[ca@valencia]=Un dorsal «sfdisk» del gestor de particions del KDE.
Comment[de]=Ein sfdisk-Backend für die KDE-Partitionsverwaltung.
Comment[en_GB]=A KDE Partition Manager sfdisk backend.
Comment[es]=Motor sfdisk para el gestor de particiones de KDE.
Comment[gl]=Unha infraestrutura de sfdisk do xestor de particións de KDE.
Comment[nl]=Sfdisk-backend van KDE-partitiebeheerder
Comment[pl]=Silnik sfdisk zarządzania partycjami KDE.
Comment[pt]=A infra-estrutura do 'sfdisk' do Gestor de Partições do KDE.
Comment[sl]=Zaledje sfdisk za upravljalnik razdelkov za KDE
Comment[sr]=Позадина sfdisk‑а за КДЕ‑ов менаџер партиција
Comment[sr@ijekavian]=Позадина sfdisk‑а за КДЕ‑ов менаџер партиција
Comment[sr@ijekavianlatin]=Pozadina sfdisk‑a za KDE‑ov menadžer particija
Comment[sr@latin]=Pozadina sfdisk‑a za KDE‑ov menadžer particija
Comment[sv]=KDE:s partitionshanterare sfdisk bakgrundsprogram
Comment[uk]=Додаток sfdisk сервера Керування розділами KDE.
Comment[x-test]=xxA KDE Partition Manager sfdisk backend.xx
Type=Service
ServiceTypes=PartitionManager/Plugin
Icon=preferences-plugin

X-KDE-Library=pmsfdiskbackendplugin
X-KDE-PluginInfo-Name=pmsfdiskbackendplugin
X-KDE-PluginInfo-Author=Andrius Štikonas
X-KDE-PluginInfo-Email=andrius@stikonas.eu
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=BackendPlugin
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://www.partitionmanager.org
