[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PartitionManager/Plugin
Name=KDE Partition Manager Plugin
Name[nl]=Plugin voor KDE-partitiebeheerder
Name[pt]='Plugin' do Gestor de Partições do KDE
Name[pt_BR]=Plugin do gerenciador de partições do KDE
Name[sv]=KDE:s partitionshanterare insticksprogram
Name[uk]=Додаток Керування розділами KDE
Name[x-test]=xxKDE Partition Manager Pluginxx

